{% extends "base.html" %}

{% block main %}
  <section class="facets">
    <select class="select">
      <option value="">--</option>
      {% for option in [2020, 2021, 2022, 2023, 2024, 2025] %}
        <option
          value="{{ option }}"
          {{ 'selected' if option == facets["year"] else ''}}
        >
          {{ option }}
        </option>
      {% endfor %}
    </select>
  </section>

  <section class="admissions-listing">
    {% for entry in entries %}
      <div id="{{ entry.id }}" class="admissions-entry">
        <h2><span>{{ entry.school }} {{ entry.program_name }}</span></h2>
        <p>{{ entry.season }} {{ entry.year }}</p>
        <p>Decision: {{ entry.decision_status }}</p>
      </div>
    {% endfor %}

    <p>Total: {{ total }}</p>
  </section>


  <ul class="pagination">
    {% for i in pagination_numbers %}
      <li>
        <a
          href="?page={{ i }}{{ facet_query }}"
          {{ 'data-active tabindex=-1' if i == page else '' | safe }}
        >
          {{ i }}
        </a>
      </li>
    {% endfor %}  
  </ul>

{% endblock main %}