{% extends "base.html" %}

{% block main %}
  <section class="admissions-listing">
    {% for entry in entries %}
      <div class="admissions-entry">
        <p>{{ entry.id }}</p>
      </div>
    {% endfor %}

    <p>Total: {{ total }}</p>
  </section>


  <ul class="pagination">
    {% for i in pagination_numbers %}
      <li>
        <a
          href="?page={{ i }}"
          {{ 'data-active tabindex=-1' if i == page else '' | safe }}
        >
          {{ i }}
        </a>
      </li>
    {% endfor %}  
  </ul>

{% endblock main %}