/*
 * Typefaces
 * Roboto: https://fonts.google.com/specimen/Roboto
 * Montserrat: https://fonts.google.com/specimen/Montserrat
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -------------- Reset -------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- END Reset -------------- */

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  --color-primary: #f9f9f9;
  --color-secondary: #d6444e;
}

body {
  background: #423b3b;
  color: var(--color-primary);
}

section {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &.two-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: fit-content;
    
    @media (min-width: 960px) {
      flex-direction: row;
    }

    & p {
      max-width: 500px;
    }
  }
}

:is(h1,h2,h3,h4,h5,h6) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 42px;
  font-weight: 200;

  white-space: nowrap;

  margin-bottom: 6px;
  
  @media (min-width: 960px) {
    font-size: 112px;
  }

  &:where(h2) {
    font-size: 24px;
    font-weight: 400;
  }
}

.divider {
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(from currentColor r g b / 0.5);
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 1.25;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

small {
  display: inline-block;
  font-style: italic;
  padding-left: 4vw;
  opacity: 0.6;
  vertical-align: middle;

  @media (min-width: 960px) {
    font-size: 20px
  }
}

main {
  padding: 24px 12vw;

  @media (min-width: 960px) {
    padding: 70px 12vw;
    width: fit-content;
  }
}

a {
  color: #f8f8f8;
  text-decoration: none;

  &[data-active] {
    color: var(--color-secondary);
    font-weight: 600;
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
}

nav-layout {
  display: block;

  @media (min-width: 960px) {
    position: sticky;
    top: 10px;
  }
  
  & > nav {
    background: #191919;
    display: flex;
    gap: 30px;
    padding: 20px;
    right: 0;
    width: fit-content;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2);
    margin-left: auto;
    border-bottom-left-radius: 10px;

    /* Typography */
    font-weight: 300;
    font-size: 20px;

    @media (min-width: 960px) {
      position: absolute;
      border-top-left-radius: 10px;
    }
  }
}

.bio-photo {
  position: relative;
  width: 400px;
  aspect-ratio: 1;
  max-width: 100%;
  border-radius: 20px;
  overflow: clip;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2);
  
  & img {
    position: absolute;
    height: 100%;
  }

  & img:not(:first-child) {
    transition: opacity 200ms ease-out;
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }
}

.key-value {
  display: grid;
  /* grid: auto / auto; */
  grid: auto / min-content auto;
  gap: 16px;
  align-items: center;
  
  & > * {
    font-size: 18px;
    
    @media (min-width: 960px) {
      font-size: 24px;
    }
  }

  & > h2 {
    font-weight: 700;
    margin: 0;
  }
}

.project-links {
  border-left: 4px solid currentColor;
  padding: 0 20px;
  margin: 30px 0;

  & a {
    text-decoration: underline;
    font-weight: 500;
  }
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  font-weight: bold;

  & [data-active] {
    color: var(--color-secondary);
    pointer-events: none;
  }
}

.admissions-listing {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.admissions-entry {
  border-radius: 10px;
  background: rgba(0 0 0 / 0.5);
  min-height: 64px;
  padding: 14px;

  & :is(h1,h2,h3,h4,h5,h6) {
    font-size: 16px;
    white-space: initial;
  }
}

.select {
  color-scheme: dark;
  --color-base-100: oklch(20.84% .008 17.911);
  --color-base-200: oklch(18.522% .007 17.911);
  --color-base-300: oklch(16.203% .007 17.911);
  --color-base-content: oklch(83.768% .001 17.911);
  --color-primary: oklch(68.628% .185 148.958);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(69.776% .135 168.327);
  --color-secondary-content: oklch(13.955% .027 168.327);
  --color-accent: oklch(70.628% .119 185.713);
  --color-accent-content: oklch(14.125% .023 185.713);
  --color-neutral: oklch(30.698% .039 171.364);
  --color-neutral-content: oklch(86.139% .007 171.364);
  --color-info: oklch(72.06% .191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% .15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% .199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% .221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: .25rem;
  --size-field: .25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  border: var(--border)solid #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-base-100);
  vertical-align: middle;
  width: clamp(3rem,20rem,100%);
  height: var(--size);
  touch-action: manipulation;
  text-overflow: ellipsis;
  box-shadow: 0 1px color-mix(in oklab,var(--input-color)calc(var(--depth)*10%),#0000) inset,0 -1px oklch(100% 0 0/calc(var(--depth)*.1)) inset;
  border-color: var(--input-color);
  --input-color: color-mix(in srgb,var(--color-base-content)20%,#0000);
  --size: calc(var(--size-field,.25rem)*10);
  background-image: linear-gradient(45deg,#0000 50%,currentColor 50%),linear-gradient(135deg,currentColor 50%,#0000 50%);
  background-position: calc(100% - 20px) calc(1px + 50%),calc(100% - 16.1px) calc(1px + 50%);
  background-repeat: no-repeat;
  background-size: 4px 4px,4px 4px;
  border-start-start-radius: var(--join-ss,var(--radius-field));
  border-start-end-radius: var(--join-se,var(--radius-field));
  border-end-end-radius: var(--join-ee,var(--radius-field));
  border-end-start-radius: var(--join-es,var(--radius-field));
  flex-shrink: 1;
  align-items: center;
  gap: .375rem;
  padding-inline:.75rem 1.75rem;font-size: .875rem;
  display: inline-flex;
  position: relative
}

@supports (color: color-mix(in lab,red,red)) {
  .select {
    --input-color:color-mix(in oklab,var(--color-base-content)20%,#0000)
  }
}
